{{ if .Site.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/bundle.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/custom_style.scss" | resources.ExecuteAsTemplate "style.bundle.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
  {{ $cssOpts := (dict "targetPath" "css/bundle.css" ) }}
  {{ $styles := resources.Get "scss/custom_style.scss" | resources.ExecuteAsTemplate "style.bundle.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}

<div id="cursor-color"></div>
<div id="blur"></div>

<div id="trailer">
  <i id="trailer-icon" aria-hidden="true"></i>
</div>

{{ $js_animation_h1 := resources.Get "js/animation_h1.js" }}
{{ $js_cursor_color_blur := resources.Get "js/cursor_color_blur.js" }}
{{ $js_trailer_cursor := resources.Get "js/trailer_cursor.js" }}

{{ if .Site.IsServer }}
  {{ $js_bundle := slice $js_cursor_color_blur $js_trailer_cursor $js_animation_h1 | resources.Concat "js/bundle.js" }}
  <script defer src="{{ $js_bundle.RelPermalink }}"></script>
{{ else }}
  {{ $js_bundle := slice $js_cursor_color_blur $js_trailer_cursor $js_animation_h1 | resources.Concat "js/bundle.min.js" | js.Build (dict "minify" true) | fingerprint }}
  <script defer src="{{ $js_bundle.RelPermalink }}" crossorigin="anonymous"></script>
{{ end }}
