{{ $dataProjects := getJSON "data/projects.json" }}
{{ $contributions := $dataProjects.contributions }}
{{ $length_items := len $contributions }}

<h3>{{ $length_items }} Items de contribuciones:</h3>

<table>
  <thead>
    <tr>
      <th>
        <center>🗃️ Tipo</center>
      </th>
      <th>
        <center>🎁 Proyecto</center>
      </th>
      <th>
        <center>🛠 Tecnologías</center>
      </th>
      <th>
        <center>📈 Participación</br>Indicadores</center>
      </th>
      <th>
        <center>🔍 Vista previa</center>
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $item := $contributions }}
      {{ if $item._enabled }}
      <tr>
        <td>{{ $item.type }}</td>
        <td>
          <a
            href="{{ $item.link }}"
            class="external-link"
            target="_blank"
            rel="noopener"
          >{{ $item.name }}</a>
          </br>{{ $item.description }}
        </td>
        <td>
          {{ range $tech := $item.technologies }}
            {{ if $tech}}
              {{ if $item._bullet_point_technologies}}* {{ end }}{{ $tech }}<br />
            {{ end }}
          {{ end }}
        </td>
        <td>
          {{ if $item.engagement_metrics.stars}}
            ⭐️ {{ $item.engagement_metrics.stars }} estrellas
          {{ end }}
          {{ if $item.engagement_metrics.downloads}}
            </br>📥 {{ $item.engagement_metrics.downloads }} descargas
          {{ end }}
        </td>
        <td>
          {{ if $item.preview}}
            <a
            href="{{ $item.link }}"
            class="external-link"
            target="_blank"
            rel="noopener"
            >
              <img
                src="{{ $item.preview }}"
                alt="{{ $item.name }}"
              />
            </a>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    {{ end }}
  </tbody>
</table>
